@use "../components/variables";

.main-contacto {
    margin-top: 1%;
    background-color: variables.$fondo;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.parrafo-3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.texto-contacto {
    font-size: 40px;
}