@use "../components/variables";

body{
    background-color: #72504d;
} 

.bg-nav-bar  {
    background-color: variables.$fondo;
}

.logo{
    width: 200px;
}

.nav-link {
   color: rgb(250, 251, 252);
   font-family: cinzel, serif;
}

.nosotras{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-nosotros{
    background-color: #D8A19D;
;
}

.main-title{
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: rgb(255, 255, 255);
}

p{
    color: white;
}
 
.pelo-1{
    width: 400px;
    padding: 2%;
}

.uñas-1{
    padding: 2%;
    width: 400px;
}

