@use "../components/variables";

.main-pelo{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$fondo;
}

.parrafo-2{
    display: flex;
    align-items: center;
    gap: 15%;
}

.texto-pelo{ padding-left: 10%;
    padding-right: 0%; 
    width: 50%;
}