@use "../components/variables";

.main-uñas{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$fondo;
}
 img{
    padding: 1%;
    border-radius: 200px;
}

.parrafo-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
}

 .texto-uñas{
    padding-left: 10%;
    padding-right: 0%; 
    width: 50%;
}