@use "../components/variables";

.nav-link {
   color: rgb(250, 251, 252);
   font-family: cinzel, serif;
}

a{
    list-style: none;
    text-decoration: none;
    color: white;
}

h1{
    font-family: variables.$titulos;
}

p{
    font-family: variables.$texto;
}
