.nav-link {
   color: rgb(250, 251, 252);
   font-family: cinzel, serif;
}

a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.contacto{ 
    
    font-size: 25px; 
    font-family: cinzel, serif;
    color: rgb(255, 255, 255);
}



